/**/

.header-background {
  @apply 
    flex flex-col justify-between 
    w-screen
    lg:h-[10em] 
    border-b-4 border-white
  ;
}
.header-top {
  @apply bg-secondary
    flex justify-around items-center
    lg:h-[6em]
  ;
}
.header-logo {
  @apply bg-secondary 
    flex justify-center items-center
    text-white text-2xl
    border-4 border-white
    rounded-full
    p-2 m-2
  ;
}
.header-enroll {
  @apply
    bg-orange-400
    pt-1 pb-1
    pl-4 pr-4
    rounded-lg
    border-2 border-white
    text-white
  ;
}

.header-pages {
  @apply 
    flex-col md:flex-row
    gap-2
    items-center justify-around
    w-screen
    mt-2 mb-2
  ;
}
.header-socials {
  @apply
    flex 
    gap-3
  ;
}
.header-socials *{
  @apply 
    flex justify-center items-center
    w-[2em] h-[2em]
    rounded-full
    text-white
  ;
}
.social {
  @apply
   text-white 
   text-[1rem]
  ;
}

.header-bottom {
  @apply bg-secondary
    flex justify-around items-center
    lg:h-[1em]
  ;
}
